<div class="container-fluid">
    <div class="bookmarks-container">

        <div>
            <h3>Favoritos</h3>

            <div *ngIf="!(bookmarks$ | async).length">Nenhum favorito adicionado</div>

            <ul class="list-unstyle">
                <li *ngFor="let bookmark of bookmarks$ | async">
                    <a [routerLink]="['../details']"
                       [queryParams]="{ lat: bookmark.coord.lat, lon: bookmark.coord.lon }">
                        {{bookmark.name}}
                    </a>
                    <button class="btn btn-outline-dark btn-md"
                            (click)="removeBookmark(bookmark.id)"></button>
                </li>
            </ul>
        </div>

        <div>
            <label>Adicionar cidade aos favoritos</label>
            <jv-cities-typeahead [formControl]="searchTypeaheadControl"></jv-cities-typeahead>
        </div>
    </div>
</div>