<div class="weather-details container">
    <div class="row">
        <div class="weather-icon col-lg-2 col-md-2 col-sm-2">
            <img [src]="weatherIcon" alt="Weather Image">  
            <span class="marginleft">{{ weather.description }}</span>
        </div>

        <div class="weather-temp col-lg-4 col-md-3 col-sm-3">
            <h3>{{ weather.temp }} K</h3>
            <span>Sensação térmica: {{ weather.feelsLike }} K</span>
        </div>

        <div class="weather-misc col-lg-4 col-md-3 col-sm-3">
            <div>Humidade: {{ weather.humidity }}%</div>
            <div>Velocidade do vento: {{ weather.wind.speed }}m/s</div>
        </div>
    </div>
</div>